@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {font-family: 'Roboto', sans-serif;}
.wrapper {width: 1170px;margin: auto;}
button {
  outline: none;
  border: 0;
  cursor: pointer;
}
/*******MAIN NAVBAR*******/
.main-navbar {
  width: 100%;
  height: 70px;
}
.main-navbar-wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo{
  display: flex;
  align-items: center;
  height: 70px;
}
.navbar-logo h1{
  font-weight: bold;
  padding: 10px 0px 0px 5px;
  font-size: 30px;
  cursor: pointer;
}
.search {
  background-color: white;
  box-shadow: 0px 6px 10px rgba(131, 134, 163, .12);
  display: flex;
  border: 1px solid #E0E3E7;
  padding: 7px 10px;
}
.search input {
  width: 518px;
  outline: none;
  border: 0;
  font-size: 15px;
}
.search button {
  background-color: white;
}
.search button img {
  width: 15px;
  height: 15px;
}
.navbar-btns button {
  font-size: 14px;
  margin: 0px 8px;
  padding: 8px 12px;
}
.navbar-btns .navbar-btn-1 {
  background-color: white;
  color: rgb(129, 129, 129);
}
.navbar-btns .navbar-btn-1:hover {
  color: black;
}
.navbar-btns .navbar-btn-1 img {
  padding-right: 5px;
}
.navbar-btns .navbar-btn-2 {
  background-color: #7F6AEE;
  color: white;
  border-radius: 2px;
}
/*LOGIN MODAL*/
.modal {
  position: absolute;
  top: 45%;
  left:  50%;
  transform: translate(-50%, -50%);
}
.login-modal {width: 571px;} 
.modal-container {
  position: relative;
}
.modal-container .remove-modal {
  position: absolute;
  top: 7px;
  right: 24px;
  cursor: pointer;
  font-size: 32px;
  color: #101727;
}
.login-modal-container .remove-login:hover {
  font-weight: 700;
}
.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-header h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0px 10px 0px;
  color: #101727;
}
.modal-header button, .modal-body button {
  margin: 15px 8px;
  padding: 13px 20px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}
.modal-header button img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
}
.modal-header .fb-login {
  background-color: #36609F;
}
.modal-header .g-login {
  background-color: #EA4335;
}
.modal-body h1 {
  font-size: 20px;
  font-weight: bold;
  color: #101727;
}
.modal-body form {
  padding: 40px 50px 0px 50px; 
}
.modal-body form .form-field {
  display: flex;
  flex-direction: column;
}
.modal-body form label {
  font-size: 16px;
  margin: 15px 0px;
}
.modal-body form input {
  outline: none;
  border: 1px solid #E0E3E7;
  padding: 15px 10px;
  box-shadow: 0px 6px 10px rgba(131, 134, 163, .12);
}
.modal-body form .login-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
.modal-body form button {
  background-color: #7F6AEE;
  font-size: 16px;
  padding: 15px 70px;
  margin: 0;
}
.modal-footer {
  text-align: center;
  border:none;
  padding: 0;
  padding: 5px 0px 25px 0px;
}
.modal-footer p {
  font-size: 16px;
}
.modal-footer p span {
  color: rgb(74, 74, 228);
  cursor: pointer;
  margin-left: 5px;
}
.modal-footer p span:hover {
  border-bottom: 1px solid rgb(67, 67, 173);
  color: rgb(67, 67, 173)
}
/*JOIN COMMIUNITY MODAL*/
.join-modal {
  width: 550px;
}
.join-modal .name-inputs {
  display: flex;
  justify-content: space-between;
}
.join-modal form button {
  padding: 15px 60px;
}
.join-modal .modal-footer p input {cursor: pointer;}
.join-modal .name-inputs input {
}
.join-modal .modal-footer p span {
  margin-left: 2px !important;
}
/*******HEADER SECTION*******/
.header-section {
  text-align: center;
  padding: 30px 0px;
  border: 1px solid #ccc;
}
.header-section .wrapper {
  background-image: url(./Imgs/Group\ 209.svg);
  background-position: bottom;
}
.header-section h1 {
  font-size: 50px;
}
.header-section p {
  font-size: 24px;
  padding-top: 15px;
}
/*HEADER SLIDER*/
.header-slider {
  margin: 50px 0px 20px 0px;
}
.header-slider div {
  outline: none;
  box-shadow: 0px 6px 10px rgba(131, 134, 163, .12);
}
.header-slider div h3 {
  font-weight: 500;
  font-size: 15px;
  padding: 14px 0px;
  margin: 0px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}
/*******FOOTER SECTION*******/
.footer-section {
 background-color: #FAF6F7;
 padding: 40px 0px;
}
.footer-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-col h5 {
  font-size: 14px;
  font-weight: 600;
}
.footer-col li {
  list-style: none;
  padding: 3px 0px;
}
.footer-col li a {
  text-decoration: none;
  color:black;  
  font-size: 14px;
}
.footer-col li a:hover {
  color: #f8b3c5
}
.footer-section p {
  font-size: 14px;
  padding-top: 7px;
  text-align: center;
}
/******MAIN CONTENT*******/
/*MAIN CONTENT NAVBAR*/
.main-content-Navbar ul {
  display: flex;
  justify-content: center; 
  padding: 40px 0px 28px 0px;
  margin: 0;
}
.main-content-Navbar ul li{
  list-style: none;
  padding: 0px 20px;
}
.main-content-Navbar ul li a {
  text-decoration: none;
  color: #5C5F64;
  font-size: 24px;
  padding-bottom: 10px;
  user-select: none;
}
.main-content-Navbar ul li .active {
  background-image: url(./components/mainContentComponents/icons/Fill\ 1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}
/*TRENDING POSTS, COMPANY POSTS, LATEST POSTS*/
.all-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.single-post {
  margin: 12px
}
.more {text-align: center;}
.more button {
  color: white;
  background-color: #7F6AEE;
  margin: 15px 0px;
  padding: 7px 20px;
  border-radius: 3px;
  transition: .3s all;
}
.more button:hover {
  background-color: rgba(127, 106, 238, .9);
}
/*POST*/
.post {
  background-image: url(./Imgs/bg.jpg);
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(131, 134, 163, .12);
}
.post .overlay {
  display: grid;
  grid-template-rows: 150px 50px;
  opacity: 0;
  transition: .4s all;
}
.post:hover .overlay {
  opacity: 1;
  /* box-shadow: 0px 6px 10px rgba(131, 134, 163, .12); */
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.overlay .gap {
  background-color: rgba(0,0,0,.4);
}
.overlay .desc {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.user {flex: 5;}
.add {flex: 4;}
.like {flex: 1;}
.overlay .flex {
  height: 50px;
  display: flex;
  align-items: center;
}
.overlay .desc img {
  padding-right: 8px;
}
.overlay .like img {width: 15px;}
.overlay .add img, .overlay .like img {
  padding-right: 5px;
}

.user p {font-size: 15px;padding-top: 16px;}
.add p {font-size: 10px;padding-top: 16px;}
.like p {font-size: 10px;padding-top: 16px;}